:root {
  --main-text-color: #4f5665;
  --second-text-color: #0b132a;
  --white-text-color: #ffffff;

  --background-main-color: #ffecec;
  --backgound-second-color: #f8f8f8;

  --accent-color: #f53838;
  --icon-bg-color: #ffecec;
  --primary-font: "Rubik", sans-serif;
}
