:root {
  --main-text-color: #4f5665;
  --second-text-color: #0b132a;
  --white-text-color: #ffffff;
  --background-main-color: #ffecec;
  --backgound-second-color: #f8f8f8;
  --accent-color: #f53838;
  --icon-bg-color: #ffecec;
  --primary-font: "Rubik", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.2s;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1204px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.header {
  padding-top: 46px;
  padding-bottom: 46px;
  margin-bottom: 54px;
}
.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  margin-right: 10px;
}
.logo-text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--second-text-color);
  text-decoration: none;
}
.logo-bold-text {
  font-weight: 700;
}
.header .logo {
  margin-right: 158px;
}

.nav {
  margin-right: 150px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  line-height: 1.2;
  color: var(--main-text-color);
}
.nav-link:hover {
  color: var(--accent-color);
}

.auth {
  display: flex;
  gap: 30px;
}
.auth-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-btn {
  font-weight: 500;
  line-height: 1.2;
  height: 45px;
  border: none;
  color: var(--second-text-color);
}
.auth .active {
  padding: 13px 45px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 50px;
  transition: all 200ms ease-in;
}
.auth .active:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.hero {
  margin-bottom: 103px;
}
.hero .container {
  display: flex;
}
.hero-inner {
  margin-top: 28px;
}
.hero-title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.hero .title-bold {
  font-weight: 700;
}
.hero .label {
  margin-bottom: 50px;
  line-height: 1.8;
  color: var(--main-text-color);
}
.hero .label-bold {
  font-weight: 700;
}
.hero .btn {
  font-weight: 700;
  line-height: 1.6;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  padding: 18px 78px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 40px 54px rgba(245, 56, 56, 0.25);
  transition: box-shadow 0.3s ease;
}
.hero .btn:hover {
  box-shadow: 0px 10px 0px rgba(245, 56, 56, 0.25);
}
.stats-wrapper {
  padding: 38px 91px;
  width: 1140px;
  background-color: var(--white-text-color);
  box-shadow: 0px 10px 13px -9px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
}
.stats-list {
  display: flex;
  justify-content: space-between;
}
.stats-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.stats-item:not(:last-child) {
  border-right: 1px solid #eeeff2;
  padding-right: 129px;
}
.stats .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  padding: 15px;
  margin-right: 36px;
  background-color: #ffecec;
  border-radius: 50%;
}
.stats .info-wrap-num {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 5px;
}
.stats .info-wrap-text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */