.network {
  background-color: var(--backgound-second-color);
  padding-bottom: 34px;
  .container {
  }
  &-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.4;
    color: var(--second-text-color);
    margin: 0 auto 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 448px;
    }
  }
  &-label {
    text-align: center;
    margin: 0 auto 30px;
    line-height: 1.9;
    color: var(--main-text-color);
    @media screen and (min-width: 768px) {
      width: 555px;
      margin: 0 auto 75px;
    }
    @media screen and (min-width: 1204px) {
      margin: 0 auto 155px;
    }
  }
  &-label-bold {
    font-weight: 500;
  }
  .map {
    background-image: url(../img/map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin: 0 auto 34px;
    @media screen and (min-width: 768px) {
      height: 538px;
      margin: 0 auto 84px;
    }
    @media screen and (min-width: 1204px) {
      height: 538px;
      width: 1060px;
    }
  }

  .company-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 26px;
    @media screen and (min-width: 768px) {
      gap: 46px;
    }
  }
  .company-item img {
    width: 120px;
    height: 44px;
    @media screen and (min-width: 768px) {
      width: 190px;
      height: 64px;
    }
  }
}
