.review {
  padding-top: 50px;
  padding-bottom: 182px;
  background-color: var(--backgound-second-color);
  .container {
    // width: 1140px;
  }
  &-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.4;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    color: var(--second-text-color);
    @media (min-width: 1204px) {
      width: 447px;
    }
  }
  &-label {
    line-height: 1.9;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    color: var(--main-text-color);
    @media (min-width: 1204px) {
      width: 555px;
    }
  }
  &-list {
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
    overflow: hidden;
    @media (min-width: 1204px) {
      gap: 50px;
    }
  }
  &-item {
    // flex-basis: 320px;
    min-width: 100%;
    padding: 30px;
    border: 2px solid var(--border-color);
    transition: all 250ms ease-in-out;
    border-radius: 10px;
    &:hover {
      border: 2px solid var(--accent-color);
      box-shadow: 0px 22px 53px -18px rgba(0, 0, 0, 0.25);
    }
    @media (min-width: 768px) {
      min-width: 50%;
    }
    @media (min-width: 1204px) {
      min-width: 33.33%;
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .avatar {
    margin-right: 21px;
  }
  &-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--second-text-color);
  }
  &-place {
    font-size: 14px;
    line-height: 1.3;
    color: var(--main-text-color);
  }
  .rating-wrapper {
    margin-left: auto;
  }
  &-rating {
    color: var(--second-text-color);
    line-height: 1.8;
  }
  .star-icon {
  }
  &-comment {
    line-height: 1.8;
    color: var(--second-text-color);
  }

  .slider-controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dots {
    display: flex;
    gap: 7px;
    @media (min-width: 768px) {
      gap: 15px;
    }
    &-item::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #dde0e4;
      border-radius: 50%;
    }
  }
  .btn-controllers {
    .btn-arrow {
      width: 60px;
      height: 60px;
      border: 2px solid var(--accent-color);
      border-radius: 50%;
      margin: 0 auto;
      transition: transform 250ms ease-in-out;
      &:not(:last-child) {
        margin-right: 10px;
        @media (min-width: 768px) {
          margin-right: 20px;
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
    .disabled {
      fill: var(--accent-color);
      background-color: var(--background-main-color);
    }
    .active {
      background-color: var(--accent-color);
      fill: var(--background-main-color);
    }
  }
}

.sub-position {
  position: relative;
}
